{% extends 'admin/layout/adminLayout.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% if data.service.id|length > 0 %}
                {% set serviceId = data.service.id %}
                <h1 class="page-header">Update ES: {{ data.service.name }}</h1>
            {% else %}
                {% set serviceId = 'null' %}
                <h1 class="page-header">Create new ES</h1>
            {% endif %}
        </div>
    </div>
    <form action="/admin/external-service/{% if data.service.id|length > 0 %}update/{{ data.service.id }}{% else %}create{% endif %}/"
          class="inlineForm" method="POST" enctype="multipart/form-data" id="userForm" autocomplete="off">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group divUser">
                                    <label class="userLabel">Name</label>
                                    <input name="name" value="{{ data.service.name }}" class="form-control inputDesign"
                                           {% if data.manufacturer.id|length == 0 %}data-validation="length"
                                           data-validation-length="min6"
                                           data-validation-error-msg="Enter name."{% endif %} />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group divUser">
                                    <label class="userLabel">Address</label>
                                    <input name="address" value="{{ data.service.address }}" class="form-control inputDesign"
                                           {% if data.manufacturer.id|length == 0 %}data-validation="length"
                                           data-validation-length="min6"
                                           data-validation-error-msg="Enter name."{% endif %} />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group divUser">
                                    <label class="userLabel">Zip</label>
                                    <input name="zip" value="{{ data.service.zip }}" class="form-control inputDesign"
                                           {% if data.manufacturer.id|length == 0 %}data-validation="length"
                                           data-validation-length="min6"
                                           data-validation-error-msg="Enter name."{% endif %} />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group divUser">
                                    <label class="userLabel">City</label>
                                    <input name="city" value="{{ data.service.city }}" class="form-control inputDesign" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group divUser">
                                    <label class="userLabel">Phone</label>
                                    <input name="phone" value="{{ data.service.phone }}" class="form-control inputDesign" />
                                </div>
                            </div>
                        </div>
                        <p>Add rule <a href="#" title="Add another rule" class="addManufacturerTemplate">+</a></p>
                        {% set existingManufacturers = [] %}

                        <ul id="manufacturers">
                            {% set count = data.rules|length %}
                            {% for key, rule in data.rules %}
                                {% set existingManufacturers = existingManufacturers|merge([rule.manufacturerId]) %}
                            <li class="row">
                                <div class="col-lg-2">
                                    <label class="userLabel">Select manufacturer</label><br />
                                    <select name="manufacturerId[{{ key }}]" class="form-control">
                                        {% for manufacturer in data.manufacturers %}
                                            <option value="{{ manufacturer.id }}" {%
                                                if rule.manufacturerId == manufacturer.id %}selected{% endif
                                            %}>{{ manufacturer.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-lg-2">
                                    <label class="userLabel">Accepted Types</label>
                                    <select name="acceptedTypes[{{ key }}][]" class="form-control" multiple>
                                        <option>-- Select Types --</option>
                                        {% for type in data.types %}
                                            <option value="{{ type.kayakoId }}" {% if type.kayakoId in rule.acceptTypeIds|split(',') %}selected{% endif %}>{{ type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-lg-2">
                                    <label class="userLabel">Ignored Types</label>
                                    <select name="ignoredTypes[{{ key }}][]" class="form-control" multiple>
                                        <option>-- Select Types --</option>
                                        {% for type in data.types %}
                                            <option value="{{ type.kayakoId }}" {% if type.kayakoId in rule.ignoredTypeIds|split(',') %}selected{% endif %}>{{ type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <a href="#" style="color:red;font-size:24px;" title="Remove this rule" class="removeManufacturerTemplate">-</a>
                            </li>
                            {% endfor %}


                            <li class="row">
                                <div class="col-lg-2">
                                    <label class="userLabel">Select manufacturer</label><br />
                                    <select name="manufacturerId[]" class="form-control">
                                        <option>-- Select manufacturer --</option>
                                    {% for manufacturer in data.manufacturers %}
                                        {% if manufacturer.id not in existingManufacturers %}
                                            <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                </div>

                                <div class="col-lg-2">
                                    <label class="userLabel">Accepted Types</label>
                                    <select name="acceptedTypes[{{ count }}][]" class="form-control" multiple>
                                        <option>-- Select Types --</option>
                                        {% for type in data.types %}
                                            <option value="{{ type.kayakoId }}">{{ type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-lg-2">
                                    <label class="userLabel">Ignored Types</label>
                                    <select name="ignoredTypes[{{ count }}][]" class="form-control" multiple>
                                        <option>-- Select Types --</option>
                                        {% for type in data.types %}
                                            <option value="{{ type.kayakoId }}">{{ type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <a href="#" style="color:red;font-size:24px;" class="removeManufacturerTemplate">-</a>
                            </li>
                        </ul>

                        <div class="col-lg-4">
                            <div class="row" >
                                <div class="form-group">
                                    <input type="hidden" name="externalServiceId" value="{{ data.service.id }}" />
                                    <input type="submit" value="Save" class="btn btn-success submitButtonSize"/>
                                </div>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.row -->
        </div>
    </form>

    <div style="display: none" id="manufacturerTemplate">
        <li class="row">
            <div class="col-lg-2">
                <label class="userLabel">Select manufacturer</label><br />
                <select name="manufacturerId[#count]" class="form-control">
                    <option>-- Select manufacturer --</option>
                {% for manufacturer in data.manufacturers %}
                    {% if manufacturer.id not in existingManufacturers %}
                        <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>

            <div class="col-lg-2">
                <label class="userLabel">Accepted Types</label>
                {#<input name="acceptedTypes[]" value="" class="form-control inputDesign" />#}
                <select name="acceptedTypes[#count][]" class="form-control" multiple>
                    <option>-- Select Types --</option>
                    {% for type in data.types %}
                        <option value="{{ type.kayakoId }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-lg-2">
                <label class="userLabel">Ignored Types</label>
                {#<input name="ignoredTypes[]" value="" class="form-control inputDesign" />#}
                <select name="ignoredTypes[#count][]" class="form-control" multiple>
                    <option>-- Select Types --</option>
                    {% for type in data.types %}
                        <option value="{{ type.kayakoId }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <a href="#" style="color:red;font-size:24px;" class="removeManufacturerTemplate">-</a>
        </li>
    </div>
    <script>
        var itemCount = {{ count }};
    </script>
{% endblock %}