{% extends 'admin/layout/adminLayout.twig' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">ES list:</h1>
        </div>
    </div>
    <input type="hidden" name="page" id="page" value="{{ data.token }}" />
    <div class="row biggerBottonMargin">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <!-- /.panel-heading -->
                <div class="panel-body panel-bodyWhite">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="usersTable">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Zip</th>
                            <th>Phone</th>
                            <th>KayakoId</th>
                            <th>Manufacturers</th>
                            {#<th>Created on</th>#}
                            <th>Updated on</th>
                            {#<th>Action</th>#}
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service in data.services %}
                            <tr>
                                <td><a href="/admin/external-service/form/{{ service.id }}/">{{ service.name }}</a></td>
                                <td>{{ service.address }}</td>
                                <td>{{ service.city }}</td>
                                <td>{{ service.zip }}</td>
                                <td>{{ service.phone }}</td>
                                <td>{{ service.kayakoId }}</td>
                                <td>{% for rule in service.manufacturers %}
                                        {{ rule.manufacturer }}
                                        {% if rule.acceptTypeIds|length > 0 %}
                                            || accept: {% for id in rule.acceptTypeIds|split(',') %}
                                            {{ data.types[id].name }}
                                            {% endfor %}
                                        {% endif %}
                                        {% if rule.ignoredTypeIds|length > 0 %}
                                            || ignore: {% for id in rule.ignoredTypeIds|split(',') %}
                                            {{ data.types[id].name }}
                                        {% endfor %}
                                        {% endif %}<br />
                                {% endfor %}</td>
                                {#<td>{{ service.createdAt.format('d/m/Y H:i') }}</td>#}
                                <td>{{ service.updatedAt.format('d/m/Y H:i') }}</td>
                                <td>
                                    <a style="color:red" href="/admin/external-service/delete/{{ service.id }}/" class="delete">X</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}