<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">WeCare</div>
    </a>


{% if loggedIn == true %}
    <!-- Heading -->
    <div class="sidebar-heading">
        Dashboard
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    {% if (loggedInRole == 1) %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
               aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-fw fa-cog"></i>
                <span>Users</span>
            </a>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    {#<h6 class="collapse-header">Custom Components:</h6>#}
                    <a class="collapse-item" href="/admin/user/form/">Create</a>
                    <a class="collapse-item" href="/admin/user/view/">View</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour"
               aria-expanded="true" aria-controls="collapseFour">
                <i class="fas fa-fw fa-cog"></i>
                <span>Datumi statusa</span>
            </a>
            <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    {#<h6 class="collapse-header">Custom Components:</h6>#}
                    <a class="collapse-item" href="/admin/status-dates/form/">Create</a>
                    <a class="collapse-item" href="/admin/status-dates/view/">View</a>

                    <a class="collapse-item" href="/admin/department/form/">Create department</a>
                    <a class="collapse-item" href="/admin/department/view/">View department</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
               aria-expanded="true" aria-controls="collapseThree">
                <i class="fas fa-fw fa-cog"></i>
                <span>External services</span>
            </a>
            <div id="collapseThree" class="collapse" aria-labelledby="collapseThree" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/admin/external-service/form/">Create ES</a>
                    <a class="collapse-item" href="/admin/external-service/view/">View ES</a>
                    {#<a class="collapse-item" href="/admin/manufacturer/form/">Create Manufacturer</a>#}
                    <a class="collapse-item" href="/admin/manufacturer/view/">View Manufacturers</a>
                    <a class="collapse-item" href="/admin/manufacturer/viewTypes/">View Types</a>
                    <hr class="sidebar-divider">
                    <a class="collapse-item" href="/admin/manufacturer/fetchTypes/">Sync Types</a>
                    <a class="collapse-item" href="/admin/external-service/fetchServices/">Sync ES</a>
                    <a class="collapse-item" href="/admin/manufacturer/fetchManufacturers/">Sync Manufacturers</a>
                </div>
            </div>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
               aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-fw fa-user-cog"></i>
                <span>Profile</span>
            </a>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    {#<h6 class="collapse-header">Custom Components:</h6>#}
                    <a class="collapse-item" href="/admin/user/form/{{ loggedIn}}/">Edit</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

    {% endif %}

    <!-- Divider -->
    <hr class="sidebar-divider">

{% endif %}

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>