.networkMain {
  h2 {
    font-size: $ExtraLarge;
    color: $lightBlue;
    margin:86px 0 34px 0;
    font-weight: $bold;
  }
  .breadcrumbs {
    color:$gray;
    font-size: $medium;
    font-weight: $mediumWeight;
    span {
      color: $lightBlue;
    }
  }
  .networkDescription {
    margin-bottom: 34px;
    width: 618px;
    p {
      margin-bottom: 0;
    }
  }
  p {
    color: $gray;
    font-weight: $mediumWeight;
    margin-bottom:34px;
  }
  .mapFormMain {
    display:flex;
    .networkService {
      display:flex;
      width:90% !important;
      justify-content: space-between;
    }
    .networkInformation {
      color: $gray;
      font-weight: $mediumWeight;
      font-size: $medium;
      width:350px;
      margin-bottom:1rem;
      label {
        display:inline-block;
        width:150px;
        margin-bottom:$ExtraLarge;
      }
      select {
        text-align-last:right;
        padding-right:$medium;
        color: $lightBlue;
        font-weight: $mediumWeight;
        font-size: $medium;
      }
    }
    .pickUp {
      label {
        margin-right:2rem;
      }
      input {
        &[type="radio"] {
          display:none;
          +label:before {
            content: "";
            /* create custom radiobutton appearance */
            display: inline-block;
            width: 9px;
            height: 9px;
            padding: 5px;
            margin-right: 10px;
            /* background-color only for content */
            background-clip: content-box;
            border: 1px solid #bbbbbb;
            border-radius: 50%;
            vertical-align: sub;
          }
          &:checked {
            +label:before {
              background-color: $lightBlue;
            }
          }
        }
      }
      color:$gray;
      font-weight:$mediumWeight;
      font-size:$medium;
    }
    .networkService {
      flex-wrap:wrap;
      justify-content: flex-start;
        div {
          margin-right:2rem;
          label {
            width:auto;
          }
          select {
            min-width:120px;
          }
        }
    }
  }
}
.networkMap {
  width:100%;
  height:500px;
  overflow:hidden;
}
