@media only screen and (max-width: $breakpointMedium) {
  .networkMain {
    .mapFormMain {
      display:block;
    }
    .networkDescription {
      width: 100%;
    }
  }
}
@media only screen and (max-width: $breakpointLarge) {
  .networkMain {
    .networkService {
      flex-direction: column;
      div {
        label {
          min-width:150px;
        }
      }
    }
  }
}


