{% extends 'layout/layout.twig' %}
{% block content %}

    <!-- Main Content -->
    <!-- Hero Start  -->
    <div class="hero">
        <div class="container">
            <div class="heroText">
                <p>Imamo rešenje za sve vaše tehničke probleme i potrebe</p>
                <p>Prepustite stvar ekspertima</p>
            </div>
            <div class="heroChat">
                <div class="heroChatLeft">
                    <p>Chatujte sa nama...</p>
                    <a href="" title="">započni chat</a>
                </div>
                <div class="heroChatDivider"></div>
                <div class="heroChatRight">
                    <p>...ili pozovite naš kontakt</p>
                    <p> center na <span>99333</span></p>
                </div>
            </div>
        </div>
    </div>
    <!--  Hero End -->

    <!-- Home Main Navigation Start   -->
    <div class="mainNav">
        <div class="container">
            <ul>
                <li>
                    <a href="" title="">
                        <div class="mainNavImgContainer">
                            <img src="/resources/images/podrska.png" alt="podrska" style="width:126px; height:102px;">
                        </div>
                        <div class="mainNavTextContainer">
                            <span>Tehnička podrkška</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" title="">
                        <div class="mainNavImgContainer">
                            <img src="/resources/images/premium.png" alt="premium" style="width:127px; height:99px;">
                        </div>
                        <div class="mainNavTextContainer">
                            <span>Premium servis</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" title="">
                        <div class="mainNavImgContainer">
                            <img src="/resources/images/spasavanje.png" alt="spasavanje" style="width:111px; height:111px;">
                        </div>
                        <div class="mainNavTextContainer">
                            <span>Spašavanje podataka</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" title="">
                        <div class="mainNavImgContainer">
                            <img src="/resources/images/garancije.png" alt="garancije" style="width:85px; height:126px;">
                        </div>
                        <div class="mainNavTextContainer">
                            <span>Dodatne Garancije</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" title="">
                        <div class="mainNavImgContainer">
                            <img src="/resources/images/servis.png" alt="servis" style="width:93px; height:92px;">
                        </div>
                        <div class="mainNavTextContainer">
                            <span>Servis + Zamena staro za novo</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}