{% extends 'admin/layout/adminLayout.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% if data.manufacturer.id|length > 0 %}
                {% set manufacturerId = data.manufacturer.id %}
                <h1 class="page-header">Update manufacturer: {{ data.manufacturer.name }}</h1>
            {% else %}
                {% set manufacturerId = 'null' %}
                <h1 class="page-header">Create new manufacturer</h1>
            {% endif %}
        </div>
    </div>
    <form action="/admin/manufacturer/{% if data.manufacturer.id|length > 0 %}update/{{ data.manufacturer.id }}{% else %}create{% endif %}/"
          class="inlineForm" method="POST" enctype="multipart/form-data" id="userForm" autocomplete="off">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group divUser">
                                    <label class="userLabel">Name</label>
                                    <input name="name" value="{{ data.manufacturer.name }}" class="form-control inputDesign"
                                           {% if data.manufacturer.id|length == 0 %}data-validation="length"
                                           data-validation-length="min6"
                                           data-validation-error-msg="Enter name."{% endif %} />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row" style="float: right;">
                                <div class="form-group">
                                    <input type="hidden" name="manufacturerId" value="{{ manufacturerId }}" />
                                    <input type="submit" value="Save" class="btn btn-success submitButtonSize"/>
                                </div>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.row -->
        </div>
    </form>
{% endblock %}