{% extends 'admin/layout/adminLayout.twig' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Manufacturer list:</h1>
        </div>
    </div>
    <input type="hidden" name="page" id="page" value="{{ data.token }}" />
    <div class="row biggerBottonMargin">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <!-- /.panel-heading -->
                <div class="panel-body panel-bodyWhite">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="usersTable">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Kayako Id</th>
                            {#<th>Created on</th>#}
                            <th>Updated on</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for manufacturer in data.manufacturers %}
                            <tr>
                                {#<td><a href="/admin/manufacturer/form/{{ manufacturer.id }}/">{{ manufacturer.name }}</a></td>#}
                                <td>{{ manufacturer.name }}</td>
                                <td>{{ manufacturer.kayakoId }}</td>
                                {#<td>{{ manufacturer.createdAt.format('d/m/Y H:i') }}</td>#}
                                <td>{{ manufacturer.updatedAt.format('d/m/Y H:i') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}