{% extends 'admin/layout/adminLayout.twig' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            {% if data.rule.id|length > 0 %}
                {% set ruleId = data.rule.id %}
                <h1 class="page-header">Update rule: {{ data.rule.name }}</h1>
            {% else %}
                {% set ruleId = 0 %}
                <h1 class="page-header">Create new rule</h1>
            {% endif %}
        </div>

        <form action="/admin/status-dates/{% if data.rule.id|length > 0 %}update/{{ data.rule.id }}{% else %}create{% endif %}/"
              class="inlineForm" method="POST" enctype="multipart/form-data" id="userForm" autocomplete="off">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group divUser">
                                        <label class="userLabel">Status</label>
                                        <select name="targetStatusId" class="form-control">
                                            <option>-- Select Status --</option>
                                            {% for id, value in data.statuses %}
                                                <option value="{{ value }}#{{ id }}">{{ value }} - ({{ id }})</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group divUser">
                                        <label class="userLabel">CF u koji se upisuje datum</label>
                                        <select name="customFieldId" class="form-control">
                                            <option>-- Select field --</option>
                                            {% for id, value in data.customFields %}
                                                <option value="{{ value }}#{{ id }}">{{ value }} - ({{ id }})</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="row" >
                                    <div class="form-group">
                                        <input type="hidden" name="statusDateId" value="{{ ruleId }}" />
                                        <input type="submit" value="Save" class="btn btn-success submitButtonSize"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}