{% extends 'admin/layout/adminLayout.twig' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Rules list:</h1>
        </div>
    </div>
    <input type="hidden" name="page" id="page" value="{{ data.token }}" />
    <div class="row biggerBottonMargin">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <!-- /.panel-heading -->
                <div class="panel-body panel-bodyWhite">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="usersTable">
                        <thead>
                        <tr>
                            <th>Target Status</th>
                            <th>Custom Field</th>
                            {#<th>Created on</th>#}
                            <th>Updated on</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rule in data.rules %}
                            <tr>
                                {#<td><a href="/admin/manufacturer/form/{{ manufacturer.id }}/">{{ manufacturer.name }}</a></td>#}
                                <td>{{ rule.targetStatus }} - {{ rule.targetStatusId }}</td>
                                <td>{{ rule.customField }} - {{ rule.customFieldId }}</td>
                                <td>{{ rule.updatedAt.format('d/m/Y H:i') }}</td>
                                <td>
                                    <a style="color:red" href="/admin/status-dates/delete/{{ rule.id }}/" class="delete">X</a> |
                                    <a style="color:red" href="/admin/status-dates/runProcess/{{ rule.id }}/">Run</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}