<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://use.fontawesome.com/8981f1ccc2.js"></script>
    <link rel="stylesheet" href="/resources/main.css" type="text/css"/>

    {% block cssinclude %}{% endblock %}

    {% block jsinclude %}{% endblock %}
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {{ include('partials/frontend/header.twig') }}
    <!-- End of Sidebar -->

    {% if messages is defined %}
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- output flash messages -->
            {{ messages|raw }}
        </div>
        <!-- /.container-fluid -->
    {% endif %}

    {% block content %} {% endblock %}

    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<div id="userId" data-userId="{{ loggedIn }} "></div>
<!-- Bootstrap core JavaScript-->
<script src="/resources/vendor/jquery/jquery.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/resources/js/jquery-ui.min.js"></script>
<script src="/resources/js/global.js?v=1"></script>
</body>
</html>