// 1200px and up, extra large devices
@media only screen and (min-width:$breakpointExtraLarge) {
  .container {
    width:1140px;
    margin:0 auto;
  }

  .heroChat {
    height:160px;
    width:1140px;
  }
}

.navLinkArrow {
  border: solid $white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left:10px;
  margin-bottom:2px;
}

img {
  width:100%;
}

.inactive {
  display:none !important;
}

.stopScrolling {
  height: 100%;
  overflow: hidden;
}

.blueButton {
  button {
    &[type="submit"] {
      font-size: $mediumLarge;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      background-color: $lightBlue;
      border: none;
      color: $white;
      font-weight: $bold;
      text-transform: uppercase;
      margin-top: 82px;
    }
  }
}