// fonts
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight:400;
  font-style: italic;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face{
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
body {
  font-family: 'Montserrat', Georgia, sans-serif;
}

// font size
$small: 0.750rem; // 12px
$sMedium :0.875rem; //14px
$medium: 1.125rem; // 18px
$mediumLarge: 1.5rem; // 24px
$mediumExtraLarge: 2rem; // 32px
$large: 2.5rem; // 40px
$ExtraLarge: 3rem; // 48px

//font weight
$thin: 100;
$extraLight: 200;
$light: 300;
$normalWeight: 400;
$mediumWeight: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;

