// colors
$lightBlue: #00cccc;
$gray: #999999;
$darkGray: #7d7d7d;
$white: #ffffff;
$grayOpacity:rgb(216, 216, 216);
$grayLogo: #666666;
$whiteOpacity: rgba(255, 255, 255, 0.6);

// break-points
$breakpointExtraSmall: 476px;
$breakpointSmall: 620px;
$breakpointMedium: 768px;
$breakpointLarge: 992px;
$breakpointExtraLarge: 1200px;



