html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important; }

textarea:focus, input:focus {
  outline: none; }

input, select, textarea {
  border: 0; }

img {
  width: 100%;
  height: auto;
  display: block; }

*:focus {
  outline: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100; }
@font-face {
  font-family: "Montserrat";
  src: url("/resources/fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }
body {
  font-family: 'Montserrat', Georgia, sans-serif; }

@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    margin: 0 auto; }

  .heroChat {
    height: 160px;
    width: 1140px; } }
.navLinkArrow {
  border: solid #ffffff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 10px;
  margin-bottom: 2px; }

img {
  width: 100%; }

.inactive {
  display: none !important; }

.stopScrolling {
  height: 100%;
  overflow: hidden; }

.blueButton button[type="submit"] {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #00cccc;
  border: none;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 82px; }

.headerTop {
  margin: 26px 0; }
  .headerTop .headerHamburgerMenuOverlay {
    background-color: #00cccc;
    color: #ffffff;
    padding: 0.5em 2em;
    font-size: 1.5rem; }
    .headerTop .headerHamburgerMenuOverlay .exitMenu {
      text-align: right;
      font-size: 2.5rem; }
    .headerTop .headerHamburgerMenuOverlay .logoMobile {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .headerTop .headerHamburgerMenuOverlay .logoMobile .logoText {
        align-self: flex-end; }
    .headerTop .headerHamburgerMenuOverlay nav {
      margin-top: 2.125em; }
      .headerTop .headerHamburgerMenuOverlay nav ul li a {
        text-decoration: none;
        display: inline-block;
        padding: 8px;
        color: #ffffff; }
    .headerTop .headerHamburgerMenuOverlay .searchMobile {
      width: 100%;
      margin-top: 3.563em;
      -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
      -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
      box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6); }
      .headerTop .headerHamburgerMenuOverlay .searchMobile input {
        width: 90%;
        text-align: left;
        background-color: transparent;
        color: #ffffff;
        font-size: 1.5rem; }
      .headerTop .headerHamburgerMenuOverlay .searchMobile i {
        color: #ffffff; }
  .headerTop .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }
    .headerTop .container .headerNavMobile {
      display: none; }
    .headerTop .container .logo {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 37%; }
      .headerTop .container .logo img {
        width: 200px;
        height: 37px; }
      .headerTop .container .logo span {
        color: #00cccc;
        font-size: 1.125rem;
        font-weight: 500; }
    .headerTop .container .headerTopRight {
      display: flex;
      justify-content: space-between;
      width: 55%; }
      .headerTop .container .headerTopRight .search {
        width: 70%;
        text-align: right;
        padding: 5px 15px;
        -webkit-box-shadow: 0px 1px 1px #d8d8d8;
        -moz-box-shadow: 0px 1px 1px #d8d8d8;
        box-shadow: 0px 1px 1px #d8d8d8; }
        .headerTop .container .headerTopRight .search input {
          width: 90%;
          text-align: center;
          color: #999999;
          font-size: 0.75rem; }
        .headerTop .container .headerTopRight .search i {
          color: #7d7d7d; }
      .headerTop .container .headerTopRight .logIn {
        text-align: right;
        align-self: center; }
        .headerTop .container .headerTopRight .logIn a {
          font-weight: 500;
          color: #999999; }
    .headerTop .container .headerHamburgerMenu {
      display: none; }

.headerHamburgerMenuOverlay {
  z-index: 9999;
  height: 100vh;
  width: 100vw; }

.headerBottom {
  background-color: #00cccc;
  display: flex;
  align-items: center; }
  .headerBottom .container .headerNav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .headerBottom .container .headerNav ul li {
      position: relative; }
      .headerBottom .container .headerNav ul li a {
        font-size: 1.125rem;
        color: #ffffff;
        display: inline-block;
        padding: 0.6em 0.5em;
        font-weight: 500; }
      .headerBottom .container .headerNav ul li .secondLevelMenu {
        display: none;
        position: absolute;
        z-index: 9999;
        background-color: #ffffff;
        width: 200px;
        padding: 0.5em 1em 0.5em 0.7em; }
        .headerBottom .container .headerNav ul li .secondLevelMenu li {
          border-bottom: 1px solid #d8d8d8; }
          .headerBottom .container .headerNav ul li .secondLevelMenu li a {
            color: #00cccc;
            font-weight: 500;
            width: 90%;
            display: inline-block;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            text-align: left; }
          .headerBottom .container .headerNav ul li .secondLevelMenu li ul li {
            border: none; }
            .headerBottom .container .headerNav ul li .secondLevelMenu li ul li a {
              font-size: 0.875rem;
              width: 100%; }
        .headerBottom .container .headerNav ul li .secondLevelMenu li:last-child a {
          border-bottom: none;
          width: 100%; }
      .headerBottom .container .headerNav ul li:hover .secondLevelMenu {
        display: block; }

.hero {
  background-image: url("/resources/images/head-banner-homepage.png");
  background-size: cover;
  background-position: center, center;
  position: relative; }
  .hero .container {
    padding: 18px 10px; }
    .hero .container .heroText {
      padding-top: 71px;
      padding-bottom: 169px;
      width: 42%; }
      .hero .container .heroText p {
        color: #ffffff;
        font-weight: bold; }
        .hero .container .heroText p:nth-child(1) {
          font-size: 3rem; }
        .hero .container .heroText p:nth-child(2) {
          margin-top: 17px;
          font-size: 1.5rem; }
    .hero .container .heroChat {
      position: absolute;
      bottom: -1.8em;
      background-color: #00cccc;
      border-radius: 0.3em;
      font-size: 2.5rem;
      font-weight: 500;
      color: #ffffff;
      display: flex;
      justify-content: space-between;
      padding: 18px 30px 18px 45px;
      font-weight: 500; }
      .hero .container .heroChat .heroChatLeft {
        width: 40%;
        padding: 17px 0; }
        .hero .container .heroChat .heroChatLeft a {
          font-size: 1.5rem;
          font-weight: 700;
          text-transform: uppercase;
          background-color: #ffffff;
          display: inline-block;
          color: #00cccc;
          border-radius: 0.3em;
          padding: 0.5em 1.5em;
          margin-top: 0.5em; }
      .hero .container .heroChat .heroChatDivider {
        width: 1px;
        background-color: #ffffff; }
      .hero .container .heroChat .heroChatRight {
        width: 50%;
        padding: 17px 0; }
        .hero .container .heroChat .heroChatRight p:nth-of-type(2) {
          line-height: 1.60; }
        .hero .container .heroChat .heroChatRight p span {
          font-weight: 700; }

.mainNav {
  margin: 10em 0; }
  .mainNav .container ul {
    display: flex;
    justify-content: space-around; }
    .mainNav .container ul li {
      text-align: center;
      width: 200px; }
      .mainNav .container ul li a .mainNavImgContainer {
        height: 130px; }
        .mainNav .container ul li a .mainNavImgContainer img {
          margin: 0 auto; }
      .mainNav .container ul li a .mainNavTextContainer {
        width: 150px;
        margin: 0 auto; }
        .mainNav .container ul li a .mainNavTextContainer span {
          text-align: center;
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 1.39;
          color: #999999;
          margin-top: 1.5em; }

.contactFormMain {
  margin-top: 9rem; }
  .contactFormMain .credentials {
    display: flex;
    flex-direction: column;
    width: 590px; }
    .contactFormMain .credentials input {
      color: #999999;
      font-weight: 500;
      font-size: 1.125rem;
      margin-bottom: 2.5rem; }
      .contactFormMain .credentials input.placeholder {
        color: #999999; }
      .contactFormMain .credentials input:-moz-placeholder {
        color: #999999; }
      .contactFormMain .credentials input::-webkit-input-placeholder {
        color: #999999; }
      .contactFormMain .credentials input:-ms-input-placeholder {
        color: #999999; }
      .contactFormMain .credentials input[type="text"] {
        border-bottom: 1px solid #d8d8d8; }
  .contactFormMain .productInformation {
    color: #999999;
    font-weight: 500;
    font-size: 1.125rem;
    width: 400px;
    margin-bottom: 2.5rem; }
    .contactFormMain .productInformation label {
      display: inline-block;
      width: 150px;
      margin-bottom: 3rem; }
    .contactFormMain .productInformation select {
      text-align-last: right;
      padding-right: 1.125rem;
      width: 200px;
      margin-top: 1em;
      color: #00cccc;
      font-weight: 500;
      font-size: 1.125rem; }
  .contactFormMain .warrantyInformation {
    color: #999999;
    font-weight: 500;
    font-size: 1.125rem; }
    .contactFormMain .warrantyInformation div {
      margin-bottom: 82px; }
    .contactFormMain .warrantyInformation p {
      margin-right: 3rem; }
    .contactFormMain .warrantyInformation label {
      margin-right: 2rem; }
    .contactFormMain .warrantyInformation input[type="radio"] {
      display: none; }
      .contactFormMain .warrantyInformation input[type="radio"] + label:before {
        content: "";
        /* create custom radiobutton appearance */
        display: inline-block;
        width: 9px;
        height: 9px;
        padding: 5px;
        margin-right: 10px;
        /* background-color only for content */
        background-clip: content-box;
        border: 1px solid #bbbbbb;
        border-radius: 50%;
        vertical-align: sub; }
      .contactFormMain .warrantyInformation input[type="radio"]:checked + label:before {
        background-color: #00cccc; }
    .contactFormMain .warrantyInformation .warranty {
      display: flex; }
    .contactFormMain .warrantyInformation .pickUpType {
      display: flex; }

.networkMain h2 {
  font-size: 3rem;
  color: #00cccc;
  margin: 86px 0 34px 0;
  font-weight: 700; }
.networkMain .breadcrumbs {
  color: #999999;
  font-size: 1.125rem;
  font-weight: 500; }
  .networkMain .breadcrumbs span {
    color: #00cccc; }
.networkMain .networkDescription {
  margin-bottom: 34px;
  width: 618px; }
  .networkMain .networkDescription p {
    margin-bottom: 0; }
.networkMain p {
  color: #999999;
  font-weight: 500;
  margin-bottom: 34px; }
.networkMain .mapFormMain {
  display: flex; }
  .networkMain .mapFormMain .networkService {
    display: flex;
    width: 90% !important;
    justify-content: space-between; }
  .networkMain .mapFormMain .networkInformation {
    color: #999999;
    font-weight: 500;
    font-size: 1.125rem;
    width: 350px;
    margin-bottom: 1rem; }
    .networkMain .mapFormMain .networkInformation label {
      display: inline-block;
      width: 150px;
      margin-bottom: 3rem; }
    .networkMain .mapFormMain .networkInformation select {
      text-align-last: right;
      padding-right: 1.125rem;
      color: #00cccc;
      font-weight: 500;
      font-size: 1.125rem; }
  .networkMain .mapFormMain .pickUp {
    color: #999999;
    font-weight: 500;
    font-size: 1.125rem; }
    .networkMain .mapFormMain .pickUp label {
      margin-right: 2rem; }
    .networkMain .mapFormMain .pickUp input[type="radio"] {
      display: none; }
      .networkMain .mapFormMain .pickUp input[type="radio"] + label:before {
        content: "";
        /* create custom radiobutton appearance */
        display: inline-block;
        width: 9px;
        height: 9px;
        padding: 5px;
        margin-right: 10px;
        /* background-color only for content */
        background-clip: content-box;
        border: 1px solid #bbbbbb;
        border-radius: 50%;
        vertical-align: sub; }
      .networkMain .mapFormMain .pickUp input[type="radio"]:checked + label:before {
        background-color: #00cccc; }
  .networkMain .mapFormMain .networkService {
    flex-wrap: wrap;
    justify-content: flex-start; }
    .networkMain .mapFormMain .networkService div {
      margin-right: 2rem; }
      .networkMain .mapFormMain .networkService div label {
        width: auto; }
      .networkMain .mapFormMain .networkService div select {
        min-width: 120px; }

.networkMap {
  width: 100%;
  height: 500px;
  overflow: hidden; }

@media only screen and (max-width: 1200px) {
  .container {
    width: 93%;
    margin: 0 auto; }

  .headerTop .container .logo {
    width: 43%; } }
@media only screen and (max-width: 992px) {
  .headerNav {
    display: none; }

  .search {
    display: none; }

  .logIn {
    display: none; }

  .headerTop .container {
    display: block; }
    .headerTop .container .headerHamburgerMenu {
      display: block;
      margin-left: auto;
      text-align: right; }
      .headerTop .container .headerHamburgerMenu i {
        font-size: 2.5rem;
        color: #666666; }
    .headerTop .container .logo {
      width: 400px;
      margin: 0 auto; } }
@media only screen and (max-width: 620px) {
  .headerTop .headerHamburgerMenuOverlay {
    font-size: 1.125rem; }
    .headerTop .headerHamburgerMenuOverlay .searchMobile input {
      font-size: 1.125rem; } }
@media only screen and (max-width: 476px) {
  .headerTop .headerHamburgerMenuOverlay .logoMobile {
    flex-wrap: wrap; }
    .headerTop .headerHamburgerMenuOverlay .logoMobile img {
      width: 151px;
      height: 28px; }
  .headerTop .container .logo {
    width: 90%;
    display: flex;
    flex-wrap: wrap; }
    .headerTop .container .logo a img {
      width: 151px;
      height: 28px; }
  .headerTop .container .headerHamburgerMenu {
    padding-right: 1.2em; } }
@media only screen and (max-width: 1200px) {
  .hero .container .heroChat {
    width: 900px;
    bottom: -2.8em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0px 15px 55px; } }
@media only screen and (max-width: 992px) {
  .hero .container .heroText {
    width: 55%; }
  .hero .container .heroChat {
    width: 600px;
    display: block;
    padding: 0;
    text-align: center;
    font-size: 2rem;
    bottom: -3.5em; }
    .hero .container .heroChat .heroChatLeft {
      width: 100%;
      padding-bottom: 0; }
    .hero .container .heroChat .heroChatDivider {
      display: none; }
    .hero .container .heroChat .heroChatRight {
      width: 100%; } }
@media only screen and (max-width: 768px) {
  .hero .container .heroText {
    width: 100%; }

  .mainNav .container ul {
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 600px; }
    .mainNav .container ul li {
      margin-bottom: 1.5em;
      min-width: 300px; } }
@media only screen and (max-width: 620px) {
  .hero .container .heroChat {
    width: 90%; }

  .mainNav .container ul {
    width: 400px; }
    .mainNav .container ul li {
      margin-bottom: 1.5em;
      min-width: 170px; } }
@media only screen and (max-width: 476px) {
  .hero .container .heroText {
    width: 55%;
    padding: 0 0 2em 0; }
    .hero .container .heroText p:nth-child(1) {
      font-size: 1.5rem; }
    .hero .container .heroText p:nth-child(2) {
      margin-top: 17px;
      font-size: 1.125rem; }
  .hero .container .heroChat {
    width: 65%;
    font-size: 1.125rem;
    border-radius: 10px;
    bottom: -6.5em; }
    .hero .container .heroChat .heroChatLeft a {
      font-size: 1.125rem; }

  .mainNav .container ul {
    width: 350px; }
    .mainNav .container ul li {
      margin-bottom: 1.5em;
      max-width: 130px; } }
@media only screen and (max-width: 1200px) {
  .contactFormMain {
    margin-top: 10rem; } }
@media only screen and (max-width: 620px) {
  .contactFormMain .credentials {
    width: 90%; }
  .contactFormMain .warrantyInformation .warranty {
    flex-direction: column;
    margin-bottom: 41px; }
    .contactFormMain .warrantyInformation .warranty p {
      margin-bottom: 2.5rem; }
  .contactFormMain .warrantyInformation .pickUpType {
    flex-direction: column;
    margin-bottom: 41px; }
    .contactFormMain .warrantyInformation .pickUpType p {
      margin-bottom: 2.5rem; } }
@media only screen and (max-width: 768px) {
  .networkMain .mapFormMain {
    display: block; }
  .networkMain .networkDescription {
    width: 100%; } }
@media only screen and (max-width: 992px) {
  .networkMain .networkService {
    flex-direction: column; }
    .networkMain .networkService div label {
      min-width: 150px; } }

/*# sourceMappingURL=main.css.map */
