{% extends 'admin/layout/adminLayout.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% if data.user.id|length > 0 %}
                {% if loggedInRole == 1 %}
                    <h1 class="page-header">Update user: {{ data.user.displayName }}</h1>
                {% else %}
                    <h1 class="page-header">Edit profile</h1>
                {% endif %}
            {% else %}
                <h1 class="page-header">Create new user</h1>
            {% endif %}
        </div>
    </div>
    <form action="/admin/user/{% if data.user.id|length > 0 %}update/{{ data.user.id }}{% else %}create{% endif %}/"
          class="inlineForm" method="POST" enctype="multipart/form-data" id="userForm" autocomplete="off">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <h4>Basic information about user</h4>
                                <div class="form-group divUser">
                                    <label class="userLabel">Email</label>
                                    <input name="email" value="{{ data.user.email }}" class="form-control inputDesign"
                                           {% if data.user.id|length == 0 %}data-validation="length"
                                           data-validation-length="min6"
                                           data-validation-error-msg="Enter email."{% endif %} />
                                </div>

                                <div class="form-group divUser">
                                    <label class="userLabel">Display name</label>
                                    <input name="displayName" value="{{ data.user.displayName }}"
                                           class="form-control inputDesign"
                                           {% if data.user.id|length == 0 %}data-validation="length"
                                           data-validation-length="min6"
                                           data-validation-error-msg="Enter display name."{% endif %} />
                                </div>

                                <div class="form-group divUser">
                                    <label class="userLabel">User password</label>
                                    <input type="password" name="password" value="" class="form-control inputDesign"
                                           {% if data.user.id|length == 0 %}data-validation="length"
                                           data-validation-length="min6"
                                           data-validation-error-msg="Enter password."{% endif %} />
                                </div>

                                <div class="form-group divUser">
                                    <label class="userLabel">Re-type password</label>
                                    <input type="password" name="password2" value=""
                                           class="form-control inputDesign" {% if data.user.id|length == 0 %} data-validation="confirmation" data-validation-confirm="password" data-validation-error-msg="Password doesn't match."{% endif %} />
                                </div>
                            </div>
                            <!-- /.col-lg-4 (nested) -->
                            <div class="col-lg-4">
                                {% if (loggedInRole == 1) %}
                                    <h4>Additional information about user </h4>
                                    <div class="form-group divUser">
                                        <label class="userLabel">Role of user </label>
                                        <select class="form-control selectDesign" name="role" data-validation="required"
                                                data-validation-error-msg="Select type of user.">
                                            {#<option value=""></option>#}
                                            {% for value, type in ['--- Select Role ---', 'Admin', 'Merchant'] %}
                                                <option value="{{ value }}"
                                                        {% if value == data.user.role %}selected{% endif %}>{{ type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group divUser">
                                        <label class="userLabel">Active status</label>
                                        <select class="form-control selectDesign" name="isActive">
                                            <option value=""></option>
                                            <option value="1" {% if data.user.isActive == 1 %}selected{% endif %}>Yes
                                            </option>
                                            <option value="0"
                                                    {% if data.user and data.user.isActive == 0 %}selected{% endif %}>No
                                            </option>
                                        </select>
                                    </div>
                                {% endif %}
                                <input type="hidden" name="userId" value="{{ data.user.id }}"/>
                            </div>
                            <!-- /.col-lg-4 (nested) -->
                        </div>
                        {#{% if loggedInRole == 1 %}#}
                            <div class="col-lg-12">
                                <div class="row" style="float: right;">
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-success submitButtonSize"/>
                                    </div>
                                </div>
                            </div>
                        {#{% endif %}#}
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.row -->
        </div>
    </form>
{% endblock %}