{% extends 'admin/layout/adminLayout.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4 offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading" align="center">
                        <h2 class="panel-title">Please Login</h2>
                    </div>
                    <div class="panel-body panel-bodyWhite">
                        <form id="login-form" action="/admin/user/login/" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon login-form-addon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <input placeholder="Email:" type="text" name="email" required
                                               class="form-control" autofocus/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon login-form-addon"><i
                                                    class="fa fa-lock"></i></span>
                                        <input required class="form-control" placeholder="Password:" type="password"
                                               name="password"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block"/>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}