{% extends 'admin/layout/adminLayout.twig' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">User list:</h1>
        </div>
    </div>
    <input type="hidden" name="user" id="user" value="{{ data.token }}" />
    <div class="row biggerBottonMargin">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <!-- /.panel-heading -->
                <div class="panel-body panel-bodyWhite">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="usersTable">
                        <thead>
                            <tr>
                                <th>User's email</th>
                                <th>Display name</th>
                                <th><select name="user_type" id="user_type" class="client form-control mandatorySelect">
                                    <option value="">Type search</option>
                                    <option value="1">Admin</option>
                                    <option value="2">Client</option>
                                    </select>
                                </th>
                                <th><select name="user_status" id="user_status" class="client form-control mandatorySelect">
                                    <option value="">Filter by status</option>
                                    <option value="0">Inactive</option>
                                    <option value="1">Active</option>
                                    </select>
                                </th>
                                <th>Created on</th>
                                <th>Updated on</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in data.users %}
                            <tr>
                                <td><a href="/user/form/{{ user.Id }}/">{{ user.email }}</a></td>
                                <td>{{ user.displayName }}</td>
                                <td>{% for key, type in ['', 'Admin', 'Merchant'] %}
                                    {% if key == user.role %}{{ type }}{% endif %}
                                {% endfor %}</td>
                            <td>{% if user.isActive %}Yes{% else %}No{% endif %}</td>
                            <td>{{ user.createdAt.format('d/m/Y H:i') }}</td>
                            <td>{{ user.updatedAt.format('d/m/Y H:i') }}</td>
                            <td><a href="/user/delete/{{ user.Id }}/" class="delete">Delete</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}