//large devices (large laptops and desktops, uo to 1200px)
@media only screen and (max-width:$breakpointExtraLarge) {
	.hero {
		.container {
			.heroChat {
				width:900px;
				bottom:-2.8em;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				padding:15px 0px 15px 55px;
			}
		}
	}
}
//devices smaller than 992px
@media only screen and (max-width: $breakpointLarge) {
	.hero {
		.container {
			.heroText {
				width:55%;
			}
			.heroChat {
				width:600px;
				display:block;
				padding:0;
				text-align:center;
				font-size: $mediumExtraLarge;
				bottom: -3.5em;
				.heroChatLeft {
					width:100%;
					padding-bottom:0;
				}
				.heroChatDivider {
					display:none;
				}
				.heroChatRight {
					width:100%;
				}
			}
		}
	}
}
// devices smaller than 768px
@media only screen and (max-width: $breakpointMedium) {
	.hero {
		.container {
			.heroText {
				width:100%;
			}
		}
	}
	.mainNav {
		.container {
			ul {
				margin: 0 auto;
				flex-wrap:wrap;
				justify-content:flex-start;
				width:600px;
				li {
					margin-bottom:1.5em;
					min-width:300px;
				}
			}
		}
	}
}
//devices smaller than 620px
@media only screen and (max-width: $breakpointSmall) {
	.hero {
		.container {
			.heroChat {
				width:90%;
			}
		}
	}

	.mainNav {
		.container {
			ul {
				width:400px;
				li {
					margin-bottom:1.5em;
					min-width:170px;
				}
			}
		}
	}
}
// devices smaller than 476px
@media only screen and (max-width: $breakpointExtraSmall) {
	.hero {
		.container {
			.heroText {
				width:55%;
				padding:0 0 2em 0;
				p {
					&:nth-child(1) {
						font-size:$mediumLarge;

					}
					&:nth-child(2) {
						margin-top:17px;
						font-size:$medium;
					}
				}
			}
			.heroChat {
				width:65%;
				font-size: $medium;
				border-radius:10px;
				bottom:-6.5em;
				.heroChatLeft {
					a {
						font-size:$medium;
					}
				}
			}
		}
	}
	.mainNav {
		.container {
			ul {
				width:350px;
				li {
					margin-bottom:1.5em;
					max-width:130px;
				}
			}
		}
	}
}