.hero {
	background-image:url("/resources/images/head-banner-homepage.png");
	background-size: cover;
	background-position: center, center;
	position:relative;
	.container {
		padding:18px 10px;
		.heroText {
			padding-top:71px;
			padding-bottom:169px;
			width:42%;
			p {
				color:$white;
				font-weight:bold;
				&:nth-child(1) {
					font-size:$ExtraLarge;

				}
				&:nth-child(2) {
					margin-top:17px;
					font-size:$mediumLarge;
				}
			}
		}
		.heroChat {
			position:absolute;
			bottom:-1.8em;
			background-color:$lightBlue;
			border-radius:0.3em;
			font-size:$large;
			font-weight:500;
			color:$white;
			display:flex;
			justify-content:space-between;
			padding:18px 30px 18px 45px;
			font-weight:$mediumWeight;
			.heroChatLeft {
				width:40%;
				padding:17px 0;
				a {
					font-size:$mediumLarge;
					font-weight:$bold;
					text-transform: uppercase;
					background-color:$white;
					display:inline-block;
					color:$lightBlue;
					border-radius:0.3em;
					padding: 0.5em 1.5em;
					margin-top:0.5em;
				}
			}
			.heroChatDivider {
				width:1px;
				background-color: $white;
			}
			.heroChatRight {
				width:50%;
				padding:17px 0;
				p {
					&:nth-of-type(2) {
						line-height:1.60;
					}
					span {
						font-weight:$bold;
					}
				}
			}
		}

	}
}
.mainNav {
	margin:10em 0;
	.container {
		ul {
			display:flex;
			justify-content:space-around;
			li {
				text-align:center;
				width:200px;

				a {
					.mainNavImgContainer {
						height:130px;
						img {
							margin:0 auto;
						}
					}

					.mainNavTextContainer {
						width:150px;
						margin:0 auto;
						span {
							text-align:center;
							font-size:$medium;
							font-weight:500;
							line-height:1.39;
							color:$gray;
							margin-top:1.5em;
						}
					}
				}
			}
		}
	}
}
