{% extends 'admin/layout/adminLayout.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% if data.page.id|length > 0 %}
                    <h1 class="page-header">Update page: {{ data.page.title }}</h1>
            {% else %}
                <h1 class="page-header">Create new page</h1>
            {% endif %}
        </div>
    </div>
    <form action="/admin/page/{% if data.page.id|length > 0 %}update/{{ data.page.id }}{% else %}create{% endif %}/"
          class="inlineForm" method="POST" enctype="multipart/form-data" id="userForm" autocomplete="off">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group divUser">
                                    <label class="userLabel">Title</label>
                                    <input name="title" value="{{ data.page.title }}" class="form-control inputDesign"
                                           {% if data.page.id|length == 0 %}data-validation="length"
                                           data-validation-length="min6"
                                           data-validation-error-msg="Enter title."{% endif %} />
                                </div>

                                <div class="form-group divUser">
                                    <label class="userLabel">Content</label>
                                    <textarea name="content" class="form-control inputDesign"
                                    >{{ data.page.content }}</textarea>
                                </div>

                                <div class="form-group divUser">
                                    <label class="userLabel">Slug</label>
                                    <input name="slug" value="{{ data.page.slug }}" class="form-control inputDesign" />
                                </div>

                                <div class="form-group divUser">
                                    <label class="userLabel">Image</label>
                                    <input type="file" name="imageSrc" value="" class="form-control inputDesign" />
                                </div>

                                <div class="form-group divUser">
                                    <label class="userLabel">Active</label>
                                    <input type="text" name="isActive" value="{{ data.page.isActive }}" class="form-control inputDesign" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row" style="float: right;">
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-success submitButtonSize"/>
                                </div>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.row -->
        </div>
    </form>
{% endblock %}