{% extends 'admin/layout/adminLayout.twig' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Page list:</h1>
        </div>
    </div>
    <input type="hidden" name="page" id="page" value="{{ data.token }}" />
    <div class="row biggerBottonMargin">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <!-- /.panel-heading -->
                <div class="panel-body panel-bodyWhite">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="usersTable">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Slug</th>
                            <th>Active</th>
                            <th>Created on</th>
                            <th>Updated on</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for page in data.pages %}
                            <tr>
                                <td><a href="/admin/page/form/{{ page.Id }}/">{{ page.title }}</a></td>
                                <td>{{ page.slug }}</td>
                                <td>{% if page.isActive %}Yes{% else %}No{% endif %}</td>
                                <td>{{ page.createdAt.format('d/m/Y H:i') }}</td>
                                <td>{{ pageuser.updatedAt.format('d/m/Y H:i') }}</td>
                                <td>
                                    <a href="/admin/page/delete/{{ page.Id }}/" class="delete">Delete</a>
                                    <a target="_blank" href="/page/{{ page.slug }}/">Preview</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}