.contactFormMain {
  margin-top: 9rem;
  .credentials {
    display: flex;
    flex-direction: column;
    width:590px;
    input {
      @include placeholder-color($gray);
      color: $gray;
      font-weight: $mediumWeight;
      font-size: $medium;
      margin-bottom: $large;
      &[type="text"] {
        border-bottom:1px solid $grayOpacity;
      }
    }
  }
  .productInformation {
    color: $gray;
    font-weight: $mediumWeight;
    font-size: $medium;
    width:400px;
    margin-bottom:2.5rem;
    label {
      display:inline-block;
      width:150px;
      margin-bottom:$ExtraLarge;
    }
    select {
      text-align-last:right;
      padding-right:$medium;
      width: 200px;
      margin-top:1em;
      color: $lightBlue;
      font-weight: $mediumWeight;
      font-size: $medium;
    }
  }
  .warrantyInformation {
    div {
      margin-bottom:82px;
    }
    p {
      margin-right: $ExtraLarge;
    }
    label {
      margin-right:2rem;
    }
    input {
      &[type="radio"] {
        display:none;
        +label:before {
          content: "";
          /* create custom radiobutton appearance */
          display: inline-block;
          width: 9px;
          height: 9px;
          padding: 5px;
          margin-right: 10px;
          /* background-color only for content */
          background-clip: content-box;
          border: 1px solid #bbbbbb;
          border-radius: 50%;
          vertical-align: sub;
        }
        &:checked {
          +label:before {
            background-color: $lightBlue;
          }
        }
      }
    }
    color:$gray;
    font-weight:$mediumWeight;
    font-size:$medium;
      .warranty {
        display:flex;
      }
      .pickUpType {
        display:flex
      }
  }
}
