@media only screen and (max-width:$breakpointExtraLarge) {
 .contactFormMain {
   margin-top:10rem;
 }
}

@media only screen and (max-width: $breakpointSmall) {
  .contactFormMain {
    .credentials {
      width:90%;
    }
    .warrantyInformation {
      .warranty {
        flex-direction: column;
        margin-bottom:41px;
        p {
          margin-bottom:2.5rem;
        }
      }
      .pickUpType {
        flex-direction: column;
        margin-bottom:41px;
        p {
          margin-bottom:2.5rem;
        }
      }
    }
  }
}