// Header Top
.headerTop {
	margin:26px 0;
	.headerHamburgerMenuOverlay {
		background-color:$lightBlue;
		color: $white;
		padding:0.5em 2em;
		font-size:$mediumLarge;
		.exitMenu {
			text-align:right;
			font-size:$large;
		}
		.logoMobile {
			width:100%;
			display:flex;
			justify-content:space-between;
			.logoText {
				align-self:flex-end;
			}
		}
		nav {
			margin-top:2.125em;
			ul {
				li {
					a {
						text-decoration:none;
						display:inline-block;
						padding:8px;
						color:$white;
					}
				}
			}
		}
		.searchMobile {
			width:100%;
			margin-top:3.563em;
			-webkit-box-shadow:0px 1px 1px $whiteOpacity;
			-moz-box-shadow:0px 1px 1px $whiteOpacity;
			box-shadow:0px 1px 1px $whiteOpacity;
			input {
				width:90%;
				text-align:left;
				background-color:transparent;
				color:$white;
				font-size:$mediumLarge;
			}
			i {
				color: $white;
			}
		}
	}
	.container {
		display:flex;
		align-items:flex-end;
		justify-content: space-between;
		.headerNavMobile {
			display:none;
		}
		.logo {
			display:flex;
			align-items:flex-end;
			justify-content: space-between;
			width:37%;
			img  {
				width:200px;
				height:37px;
			}
			span {
				color:$lightBlue;
				font-size:$medium;
				font-weight:500;
			}
		}
		.headerTopRight {
			display:flex;
			justify-content: space-between;
			width:55%;
			.search {
				width:70%;
				text-align:right;
				padding:5px 15px;
				-webkit-box-shadow:0px 1px 1px $grayOpacity;
				-moz-box-shadow:0px 1px 1px $grayOpacity;
				box-shadow:0px 1px 1px $grayOpacity;
				input {
					width:90%;
					text-align:center;
					color:$gray;
					font-size:$small;
				}
				i {
					color: $darkGray;
				}
			}
			.logIn {
				text-align:right;
				align-self:center;
				a {
					font-weight:500;
					color:$gray;
				}
			}
		}
		.headerHamburgerMenu {
			display:none;
		}
	}
}

.headerHamburgerMenuOverlay {
	z-index:9999;
	height:100vh;
	width:100vw;
}
// Header Bottom
.headerBottom {
	background-color:$lightBlue;
	display:flex;
	align-items:center;
	.container {
		.headerNav {
			ul {
				display:flex;
				flex-wrap:wrap;
				justify-content:space-between;
				li {
					position:relative;
					a {
						font-size:$medium;
						color:$white;
						display:inline-block;
						padding:0.6em 0.5em;
						font-weight:$mediumWeight;
					}
					.secondLevelMenu {
						display:none;
						position:absolute;
						z-index:9999;
						background-color:$white;
						width:200px;
						padding:0.5em 1em 0.5em 0.7em;
						li {
							border-bottom:1px solid $grayOpacity;
							a {
								color:$lightBlue;
								font-weight:$mediumWeight;
								width:90%;
								display:inline-block;
								text-align:center;
								padding-left:0;
								padding-right:0;
								text-align:left;
							}
							ul {
								li {
									border:none;
									a {
										font-size:$sMedium;
										width:100%;
									}
								}
							}
						}
						li:last-child a {
							border-bottom:none;
							width:100%;
						}
					}
					&:hover .secondLevelMenu {
						display:block;
					}
				}
			}
		}
	}
}
