//large devices (large laptops and desktops, uo to 1200px)
@media only screen and (max-width:$breakpointExtraLarge) {
	.container {
		width:93%;
		margin:0 auto;
	}

	.headerTop {
		.container {
			.logo {
				width:43%;
			}
		}
	}
}
//devices smaller than 992px
@media only screen and (max-width: $breakpointLarge) {
	.headerNav {
		display:none;
	}
	.search {
		display:none;
	}
	.logIn {
		display:none;
	}
	.headerTop {
		.container {
			display:block;
			.headerHamburgerMenu {
				display:block;
				margin-left:auto;
				text-align:right;
				i {
					font-size:$large;
					color:$grayLogo;
				}
			}
			.logo {
				width:400px;
				margin:0 auto;
			}
		}
	}
}

//devices smaller than 620px
@media only screen and (max-width: $breakpointSmall) {
	.headerTop {
		.headerHamburgerMenuOverlay {
			font-size:$medium;
			.searchMobile {
				input {
					font-size:$medium;
				}
			}
		}
	}
}



//devices smaller than 476px
@media only screen and (max-width: $breakpointExtraSmall) {
	.headerTop {
		.headerHamburgerMenuOverlay {
			.logoMobile {
				flex-wrap:wrap;
				img {
					width:151px;
					height:28px;
				}
			}
		}
		.container {
			.logo {
				width:90%;
				display:flex;
				flex-wrap:wrap;
				a {
					img {
						width:151px;
						height:28px;
					}
				}
			}

			.headerHamburgerMenu {
				padding-right:1.2em;
			}

		}
	}
}