{% extends 'admin/layout/adminLayout.twig' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            {% if data.department.id|length > 0 %}
                {% set departmentId = data.department.id %}
                <h1 class="page-header">Update department: {{ data.department.name }}</h1>
            {% else %}
                {% set departmentId = 0 %}
                <h1 class="page-header">Create new department</h1>
            {% endif %}
        </div>

        <form action="/admin/department/{% if data.department.id|length > 0 %}update/{{ data.department.id }}{% else %}create{% endif %}/"
              class="inlineForm" method="POST" enctype="multipart/form-data" id="userForm" autocomplete="off">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group divUser">
                                        <label class="userLabel">Department list from kayako (already existing departments are exluded)</label>
                                        <select name="departmentId" class="form-control">
                                            <option>-- Select Department to add --</option>
                                            {% for id, value in data.departments %}
                                                <option value="{{ value }}#{{ id }}">{{ value }} - ({{ id }})</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="row" >
                                    <div class="form-group">
                                        <input type="hidden" name="statusDatesDepartmentsId" value="{{ departmentId }}" />
                                        <input type="submit" value="Save" class="btn btn-success submitButtonSize"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}