{% extends 'admin/layout/adminLayout.twig' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Departments list:</h1>
        </div>
    </div>
    <input type="hidden" name="page" id="page" value="{{ data.token }}" />
    <div class="row biggerBottonMargin">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <!-- /.panel-heading -->
                <div class="panel-body panel-bodyWhite">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="usersTable">
                        <thead>
                        <tr>
                            <th>Department ID</th>
                            <th>Department</th>
                            <th>Updated on</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for department in data.departments %}
                            <tr>
                                <td>{{ department.departmentId }}</td>
                                <td>{{ department.department }}</td>
                                <td>{{ department.updatedAt.format('d/m/Y H:i') }}</td>
                                <td>
                                    <a style="color:red" href="/admin/department/delete/{{ department.id }}/" class="delete">X</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}